<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body class="bg-dark">
    <nav class="text-center">
        <p class="text-light">Hi {{user.username}}</p>
        <div class="container text-right">
            <form class="form-inline my-2 my-lg-0 text-right">
                {% if user.is_authenticated %}
                <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'photo-create' %}">add photo</a>
                <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}">logout</a>
                {% else %}
                <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}">login</a>

                {% endif %}
            </form>
        </div>
    </nav>
    <p class="text-center bg-light">Photos</p>




    <div class="row">
        {% for photo in photos %}
            {% if photo.member.membership_type == enterprise %}
            <p class="text-light">enterprise</p>
            <div class="col-sm">
                <img class="rounded mx-auto d-block" style="max-height: 300;" src="{{ photo.image.url }}" alt="">
                <p class="text-center text-light">{{photo.author}}</p>
            </div>
            {% elif photo.member.membership_type == premium %}
            <p class="text-light">premium</p>
            <div class="col-sm">
                <img class="rounded mx-auto d-block" style="max-height: 200;" src="{{ photo.image.url }}" alt="">
                <p class="text-center text-light">{{photo.author}}</p>
            </div>

            {% else %}
            <div class="col-sm">
                <p class="text-light">basic</p>
                <img class="rounded mx-auto d-block" style="max-height: 100;" src="{{ photo.image.url }}" alt="">
                <p class="text-center text-light">{{photo.author}}</p>
            </div>

            {% endif %}
        {% endfor %}
    </div>
    <div class="text-center">
        <button class="btn btn-light">
            <a href="{% url 'photo-create' %}">Add Pics</a>
        </button>
    </div>
</body>

